<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.emp.dao.EmpMapper" >
  <resultMap id="BaseResultMap" type="com.guigu.emp.pojo.Emp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="empNum" property="empnum" jdbcType="VARCHAR" />
    <result column="empName" property="empname" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <!-- <result column="deptId" property="deptid" jdbcType="INTEGER" /> -->
    <association property="d" javaType="com.guigu.emp.pojo.Dept">
    	<id column="deptId" property="deptid" jdbcType="INTEGER" />
    	<result column="deptName" property="deptname" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, empNum, empName, gender, birthday, phone, address, duty, deptId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guigu.emp.pojo.EmpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from emp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="select" parameterType="com.guigu.emp.pojo.QueryVO" resultMap="BaseResultMap">
  	SELECT e.id,e.empNum,e.empName,e.gender,e.birthday,e.phone,e.address,e.duty,d.* from dept d,emp e 
  	<where>
  		and  d.deptId=e.deptId
  		<if test="e.empname!=null and e.empname!='' ">
  			and e.empname like "%"#{e.empname}"%"
  		</if>
  		<if test="e.phone!=null and e.phone!='' ">
  			and e.phone=#{e.phone}
  		</if>
  		<if test="d.deptname!=null and d.deptname!='' ">
  			and d.deptname=#{d.deptname}
  		</if>
  	</where>LIMIT #{pageNum},#{MaxPage}
  </select>
  <select id="count" parameterType="com.guigu.emp.pojo.QueryVO" resultType="int">
  	SELECT count(*) from dept d,emp e 
  	<where>
  		and  d.deptId=e.deptId
  		<if test="e.empname!=null and e.empname!='' ">
  			and e.empname like "%"#{e.empname}"%"
  		</if>
  		<if test="e.phone!=null and e.phone!='' ">
  			and e.phone=#{e.phone}
  		</if>
  		<if test="d.deptname!=null and d.deptname!='' ">
  			and d.deptname=#{d.deptname}
  		</if>
  	</where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from emp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.guigu.emp.pojo.EmpExample" >
    delete from emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guigu.emp.pojo.Emp" >
    insert into emp (id, empNum, empName, 
      gender, birthday, phone, 
      address, duty, deptId
      )
    values (#{id,jdbcType=INTEGER}, #{empnum,jdbcType=VARCHAR}, #{empname,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, #{deptid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guigu.emp.pojo.Emp" >
    insert into emp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="empnum != null" >
        empNum,
      </if>
      <if test="empname != null" >
        empName,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="duty != null" >
        duty,
      </if>
      <if test="deptid != null" >
        deptId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="empnum != null" >
        #{empnum,jdbcType=VARCHAR},
      </if>
      <if test="empname != null" >
        #{empname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="duty != null" >
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guigu.emp.pojo.EmpExample" resultType="java.lang.Integer" >
    select count(*) from emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update emp
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.empnum != null" >
        empNum = #{record.empnum,jdbcType=VARCHAR},
      </if>
      <if test="record.empname != null" >
        empName = #{record.empname,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.duty != null" >
        duty = #{record.duty,jdbcType=VARCHAR},
      </if>
      <if test="record.deptid != null" >
        deptId = #{record.deptid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update emp
    set id = #{record.id,jdbcType=INTEGER},
      empNum = #{record.empnum,jdbcType=VARCHAR},
      empName = #{record.empname,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      duty = #{record.duty,jdbcType=VARCHAR},
      deptId = #{record.deptid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guigu.emp.pojo.Emp" >
    update emp
    <set >
      <if test="empnum != null" >
        empNum = #{empnum,jdbcType=VARCHAR},
      </if>
      <if test="empname != null" >
        empName = #{empname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="duty != null" >
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        deptId = #{deptid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guigu.emp.pojo.Emp" >
    update emp
    set empNum = #{empnum,jdbcType=VARCHAR},
      empName = #{empname,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      deptId = #{deptid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="Empadd" parameterType="com.guigu.emp.pojo.Emp">
  
  insert into emp(empNum,empName,gender,birthday,phone,address,duty,deptId) values(#{empnum},#{empname},#{gender},#{birthday},#{phone},#{address},#{duty},#{deptid});
  
  </insert>
  
  
</mapper>